{{!details.hbs}}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<div class="container-fluid">

		<div class="row center-block text-center">

			<h4>{{model.title}}</h4>

		</div>

	{{outlet "comments"}}

	</div>