<div class="row">

	<div class="small-6 columns">
		<div class="row">
			<div class="small-5">
				{{input type="text" value=newListTitle action="createList" placeholder="Create a Stack"}}

				<h4>Discover stacks at work</h4>
			</div>
		</div>

		<div class="row">
			<div class="small-12">
				<ul>
					{{#each list in model}}
						<li>{{#link-to "todo" list}}{{list.title}}{{/link-to}}</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>

	<!--div class="small-6 columns">
		{{outlet}}
	</div-->
	
</div>
