@import "settings";

@import "foundation";

ul {
	margin-left: 0px;
}

li {
	list-style: none;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
