@import "settings";

@import "foundation";

ul {
	margin-left: 0px;
}

li {
	list-style: none;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.modal {
  position: relative;
  margin: 10px auto;
  width: 400px;
  background-color: #fff;
  padding: 1em;
}

.modal-header {
   border-bottom:0px;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.flush--top {
  margin-top: 0;  
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs {
    text-align:center;
}

input{
   text-align:center;
}


.btn-pink {
  background-color: #FF3399;
  border-color: #FF3399;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #ff1a8c;
  border-color: #ff0080;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #FF3399;
  border-color: #FF3399;
}




.bubble 
{
position: relative;
width: 750px;
height: 110px;
padding: 0px;
background: #b3b3b3;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #b3b3b3;
display: block;
width: 0;
z-index: 1;
left: -15px;
top: 40px;
}